.square 
{
    background: #fff;
      border: 1px solid #999;
      float: left;
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
      height: 34px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 34px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.broad-container {
  display: flex;
  justify-content: space-between;
  /* Optional: Adjust spacing between items */
}

.broad-container>div {
  flex: 1;
  /* Optional: Adjust the width of each child */
  margin: 0 10px;
  /* Optional: Add margin between items */
}